# file
# *.yaml
*.json
*.pyc
*.out
*.log
*.png
*.jpg
*.npy
*.html
*.pth
*.pdf
*.h5
*.csv

# folder
.vscode/
.history/
__pycache__/

old/
data/
output/
outputs/
figures/
saved/*
pretrained_models/
# !*.py