seed: 0 #随机数种子
distribute: false #是否使用分布式训练
device: cuda:0 #模型使用单卡时的显卡名称
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_log_steps: 10 #每多少个step输出log, 0 means no output
num_valid_epochs: 1 #每多少个epoch运行valid
# num_save_epochs: 10
save_model: true
scheduler_interval: step
batch_size: &batch_size 1024

load_saved_model: false
random_data_split: false

task_names: ['ATAC_HepG2', 'ATAC_K562', 'MPRA_HepG2', 'MPRA_K562']
selected_train_datasets_idx: [0]
selected_valid_datasets_idx: [0]

train_datasets:
    -   type: BedDataset
        args: &train_dataset0_args
            bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/ATAC/windows_balanced_subset_160k.csv'
            genome_path: '/home/hxcai/genome/hg38.fa'
            use_strand: false
            use_mid: false
            seq_pad_len: 200

            rc_aug: true
            shift_aug: true
            shift_aug_range: [-20, 20]
            filter_column: 'chr'
            filter_in_list: null
            filter_not_in_list: ['chr1', 'chrX', 'chrY', 'chrnan']

            output_column: 'HepG2_b'
            task_idx: [0, 0, 0]


    -   type: BedDataset
        args: &train_dataset1_args
            bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/ATAC/windows_balanced_subset_160k.csv'
            genome_path: '/home/hxcai/genome/hg38.fa'
            use_strand: false
            use_mid: false
            seq_pad_len: 200

            rc_aug: true
            shift_aug: true
            shift_aug_range: [-20, 20]
            filter_column: 'chr'
            filter_in_list: null
            filter_not_in_list: ['chr1', 'chrX', 'chrY', 'chrnan']

            output_column: 'K562_b'
            task_idx: [1, 1, 0]


    -   type: SeqLabelDataset
        args: &train_dataset2_args
            seq_exp_path: '/home/hxcai/cell_type_specific_CRE/data/GosaiMPRA/GosaiMPRA_balanced_subset_160k.csv'
            input_column: 'seq'
            seq_pad_len: 200

            filter_column: 'chr'
            filter_in_list: null
            filter_not_in_list: ['chr1', 'chrX', 'chrY', 'chrnan']

            output_column: 'HepG2_b'
            task_idx: [2, 0, 1]

    -   type: SeqLabelDataset
        args: &train_dataset3_args
            seq_exp_path: '/home/hxcai/cell_type_specific_CRE/data/GosaiMPRA/GosaiMPRA_balanced_subset_160k.csv'
            input_column: 'seq'
            seq_pad_len: 200

            filter_column: 'chr'
            filter_in_list: null
            filter_not_in_list: ['chr1', 'chrX', 'chrY', 'chrnan']
            
            output_column: 'K562_b'
            task_idx: [3, 1, 1]



valid_datasets:
    -   type: BedDataset
        args:
            <<: *train_dataset0_args

            rc_aug: false
            shift_aug: false
            filter_in_list: ['chr1']
            filter_not_in_list: null


    -   type: BedDataset
        args:
            <<: *train_dataset1_args

            rc_aug: false
            shift_aug: false
            filter_in_list: ['chr1']
            filter_not_in_list: null


    -   type: SeqLabelDataset
        args:
            <<: *train_dataset2_args

            filter_in_list: ['chr1']
            filter_not_in_list: null


    -   type: SeqLabelDataset
        args:
            <<: *train_dataset3_args

            filter_in_list: ['chr1']
            filter_not_in_list: null


model:
    type: MyBasset
    args:
        input_length:   200
        output_dim:     1

        conv_channels_list:     [256,256,256]
        conv_kernel_size_list:  [7,7,7]
        conv_padding_list:      [3,3,3]
        # pool_kernel_size_list:  [4,5,5]
        pool_kernel_size_list:  [4,5,1]
        pool_padding_list:      [0,0,0]
        conv_dropout_rate:      0.2

        linear_channels_list:   [256,256]
        linear_dropout_rate:    0.5

        sigmoid:        true


multi_task_data_loader:
    type: MultiTaskDataLoader
    args:
        cycle: true
        mode: 'min'

data_loader:
    type: DataLoader
    args:
        batch_size: *batch_size
        num_workers: 1
        pin_memory: true
        drop_last: false

optimizer:
    type: Adam
    args:
        lr: 1.0e-5
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20

loss_func:
    type: MultiTaskLoss
    args:
        loss_list: 
        - 'BCELoss'
        - 'BCELoss'

metric_func_list:
- type: Accuracy
- type: AUROC
- type: AUPRC

early_stopper:
    type: EarlyStopping
    args:
        patience: 20
        delta: 0
        target: 'min'
        verbose: true

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
