train: True # 是训练还是测试
distribute: False # 是否使用分布式训练
gpu_ids: [0] # 训练使用的gpu id
seed: 0 # 随机数种子
save_dir: saved # 保存的根路径
num_epochs: 1000 # 训练的epoch总数
num_log_steps: 10 # 每多少个step输出log, 0 means no output
num_valid_epochs: 1 # 每多少个epoch运行valid
scheduler_interval: step
global_batch_size: &global_batch_size 4096
load_saved_model: false

cell_types: &cell_types ['HepG2', 'K562', 'A549']

train_dataset:
    type: &type SeqFeatureLabelDataset
    args: &args
        data_path: '/home/hxcai/cell_type_specific_CRE/MPRA_exp/pretrained_based_models/data/Sei_Siraj_features_concat.csv'
        seq_column: 'seq'
        feature_column: ['DNase', 'H3K4me1', 'H3K4me3', 'H3K9me3', 'H3K27me3', 'H3K27ac', 'H3K36me3', 'CTCF']
        label_column: 'exp'
        cell_types: *cell_types
        apply_filter: true
        filter_column: 'chr'
        filter_in_list: ['chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22']

valid_dataset:
    type: *type
    args:
        <<: *args
        cell_types: *cell_types
        filter_in_list: ['chr1']

test_dataset:
    type: *type
    args:
        <<: *args
        cell_types: ['HepG2', 'K562', 'A549', 'HCT116']
        apply_filter: false

model:
    type: MyBassetFeature
    args:
        input_length:           200
        input_feature_dim:      8
        output_dim:             1
        squeeze:                true

        conv_channels_list:     [256,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256]
        conv_kernel_size_list:  [3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3]
        conv_padding_list:      [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        pool_kernel_size_list:  [1,1,1,2,1,1,1,2,1,1,1,2,1,1,1,2]
        conv_dropout_rate:      0.2
        gap_layer:              false

        linear_channels_list:   [1024, 1024]
        linear_dropout_rate:    0.5
        last_linear_layer:      true
        sigmoid:                false

        rc_augmentation:        false
        rc_region:              null


data_loader:
    type: DataLoader
    args:
        batch_size: *global_batch_size
        num_workers: 1

optimizer:
    type: Adam
    args:
        lr: 1.0e-3
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20

# loss_func:
#     type: MyBCELoss

# metric_func_list:
# -   type: MyBCELoss
# -   type: Accuracy
# -   type: AUROC
# -   type: AUPRC

loss_func:
    type: MyMSELoss

metric_func_list:
-   type: MyMSELoss
-   type: Pearson
-   type: Spearman

early_stopper:
    type: EarlyStopping
    args:
        monitor: 'Pearson'
        patience: 30
        delta: 0
        mode: 'max'
        verbose: true

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
