distribute: false #是否使用分布式训练

seed: 0 #随机数种子
# device: cuda:0 #模型使用单卡时的显卡名称
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_log_steps: 10 #每多少个step输出log, 0 means no output
num_valid_epochs: 1 #每多少个epoch运行valid
# num_save_epochs: 10
# save_model: true
scheduler_interval: step
batch_size: &batch_size 4096

load_saved_model: false
random_data_split: false

task_names: ['ATAC_HepG2', 'ATAC_K562', 'GosaiMPRA_HepG2', 'GosaiMPRA_K562']
selected_train_datasets_idx: [0,1,2]
selected_valid_datasets_idx: [0,1,2,3]

train_datasets:
    -   type: BedDataset
        args: &train_dataset0_args
            task_idx: [0, 0, 0]
            bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/ATAC/ATAC_subset_balanced_160k.csv'
            genome_path: '/home/hxcai/genome/hg38.fa'
            output_column: 'HepG2_b'
            use_strand: false
            use_pos: false
            seq_pad_len: 200

            rc_aug: true
            shift_aug: true
            shift_aug_range: [-50, 50]
            filter_column: 'chr'
            filter_in_list: null
            filter_not_in_list: ['chr1', 'chr2', 'chrX', 'chrY', 'chrnan']

    -   type: BedDataset
        args: &train_dataset1_args
            task_idx: [1, 1, 0]
            bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/ATAC/ATAC_subset_balanced_160k.csv'
            genome_path: '/home/hxcai/genome/hg38.fa'
            output_column: 'K562_b'
            use_strand: false
            use_pos: false
            seq_pad_len: 200

            rc_aug: true
            shift_aug: true
            shift_aug_range: [-50, 50]
            filter_column: 'chr'
            filter_in_list: null
            filter_not_in_list: ['chr1', 'chr2', 'chrX', 'chrY', 'chrnan']

    -   type: SeqLabelDataset
        args: &train_dataset2_args
            task_idx: [2, 0, 1]
            seq_exp_path: '/home/hxcai/cell_type_specific_CRE/data/GosaiMPRA/GosaiMPRA_designed.csv'
            input_column: 'seq'
            output_column: 'HepG2_b'

            # filter_column: 'chr'
            # filter_in_list: null
            # filter_not_in_list: ['chr1', 'chr2', 'chrX', 'chrY', 'chrnan']
            shuffle: true
            subset_range: [0, 0.8]

    -   type: SeqLabelDataset
        args: &train_dataset3_args
            task_idx: [3, 1, 1]
            seq_exp_path: '/home/hxcai/cell_type_specific_CRE/data/GosaiMPRA/GosaiMPRA_designed.csv'
            input_column: 'seq'
            output_column: 'K562_b'

            # filter_column: 'chr'
            # filter_in_list: null
            # filter_not_in_list: ['chr1', 'chr2', 'chrX', 'chrY', 'chrnan']
            shuffle: true
            subset_range: [0, 0.8]



valid_datasets:
    -   type: BedDataset
        args:
            <<: *train_dataset0_args
            rc_aug: false
            shift_aug: false
            filter_in_list: ['chr1']
            filter_not_in_list: null

    -   type: BedDataset
        args:
            <<: *train_dataset1_args
            rc_aug: false
            shift_aug: false
            filter_in_list: ['chr1']
            filter_not_in_list: null

    -   type: SeqLabelDataset
        args:
            <<: *train_dataset2_args
            # filter_in_list: ['chr1']
            # filter_not_in_list: null
            subset_range: [0.8, 1]


    -   type: SeqLabelDataset
        args:
            <<: *train_dataset3_args
            # filter_in_list: ['chr1']
            # filter_not_in_list: null
            subset_range: [0.8, 1]



model:
    type: MyBassetSequential
    args:
        input_length:   200
        output_dim: 1
        n_cells:    2
        n_tasks:    2

        encoder_kwargs:
        -   type: MyBassetEncoder
            args:
                conv_channels_list:     [256,256,256,256]
                conv_kernel_size_list:  [7,7,7,7]
                conv_padding_list:      [0,0,0,0]
                pool_kernel_size_list:  [2,2,2,2]
                conv_dropout_rate:      0.2
                
        shared_decoder_kwargs:
        -   type: MyBassetDecoder
            args:
                linear_channels_list:   [256,256]
                linear_dropout_rate:    0.5
                last_linear_layer:      false
                sigmoid:                false

        cell_decoder_kwargs:
        -   type: MyBassetDecoder
            args:
                input_dim:              256
                linear_channels_list:   [256,256]
                linear_dropout_rate:    0.5
                last_linear_layer:      false
                sigmoid:                false
        -   type: MyBassetDecoder
            args:
                input_dim:              256
                linear_channels_list:   [256,256]
                linear_dropout_rate:    0.5
                last_linear_layer:      false
                sigmoid:                false
                
        task_decoder_kwargs:
        -   type: MyBassetDecoder
            args:
                input_dim:              256
                output_dim:             1
                linear_channels_list:   [256,256]
                linear_dropout_rate:    0.5
                last_linear_layer:      true
                sigmoid:                true
        -   type: MyBassetDecoder
            args:
                input_dim:              256
                output_dim:             1
                linear_channels_list:   [256,256]
                linear_dropout_rate:    0.5
                last_linear_layer:      true
                sigmoid:                true


multi_task_data_loader:
    type: MultiTaskDataLoader
    args:
        cycle: true
        mode: 'min'

data_loader:
    type: DataLoader
    args:
        batch_size: *batch_size
        num_workers: 8
        pin_memory: true
        drop_last: false

optimizer:
    type: Adam
    args:
        lr: 3.0e-4
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20


loss_func:
    type: MultiTaskLoss
    args:
        loss_list: 
        - 'BCELoss'
        - 'BCELoss'
        
# loss_funcs:
# - type: MyBCELoss
# - type: MyBCELoss

metric_funcs:
# - type: Pearson
# - type: Spearman
- type: Accuracy
- type: AUROC
- type: AUPRC


# early_stopper:
#     type: EarlyStopping
#     args:
#         monitor: 'Pearson'
#         patience: 20
#         delta: 0
#         mode: 'max'
#         verbose: true


logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
