distribute: True
seed: 0 #随机数种子
device: cuda:0 #模型使用单卡时的显卡名称
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_log_steps: 0 #每多少个step输出log, 0 means no output
num_valid_epochs: 1 #每多少个epoch运行valid
num_save_epochs: 10
save_model: True
scheduler_interval: step
batch_size: &batch_size 256

load_saved_model: False
random_data_split: False

task_names: ['XpressoRNA_HepG2', 'XpressoRNA_K562', 'GosaiMPRA_HepG2', 'GosaiMPRA_K562']
selected_train_datasets_idx: [3]
selected_valid_datasets_idx: [3]

1_dataset_basic_config: &1_dataset_basic_config
    bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/Xpresso/merged_bed_exp.csv'
    genome_path: '/home/hxcai/genome/hg38.fa'
    use_strand: True
    use_mid: True
    select_seq_range: [-500, 500]
    shift_aug: True
    shift_aug_range: [-500, 0]

2_dataset_basic_config: &2_dataset_basic_config
    # seq_exp_path: '/home/hxcai/cell_type_specific_CRE/data/GosaiMPRA/GosaiMPRA_upsampled_0.5*2.csv'
    seq_exp_path: '/home/hxcai/cell_type_specific_CRE/data/GosaiMPRA/GosaiMPRA_len=200.csv'
    input_column: 'seq'
    # seq_pad_len: 1000

train_dataset_filter_config: &train_dataset_filter_config
    filter_column: 'chr'
    filter_in_list: 
    filter_not_in_list: ['chr1', 'chr2', 'chrX', 'chrY', 'chrnan']

valid_dataset_filter_config: &valid_dataset_filter_config
    filter_column: 'chr'
    filter_in_list: ['chr1', 'chr2']
    filter_not_in_list: 

train_datasets:
    -   type: BedDataset
        args:
            <<: *1_dataset_basic_config
            <<: *train_dataset_filter_config
            output_column: 'HepG2'
            task_idx: [0, 0, 0]
            
    -   type: BedDataset
        args:
            <<: *1_dataset_basic_config
            <<: *train_dataset_filter_config
            output_column: 'K562'
            task_idx: [1, 1, 0]
            
    -   type: SeqLabelDataset
        args:
            <<: *2_dataset_basic_config
            <<: *train_dataset_filter_config
            output_column: 'HepG2'
            task_idx: [2, 0, 1]

    -   type: SeqLabelDataset
        args:
            <<: *2_dataset_basic_config
            <<: *train_dataset_filter_config
            output_column: 'K562'
            task_idx: [3, 1, 1]


model:
    type: MyCNNTransformer
    args:
        input_length:   200
        output_dim:     1
        # n_seqtype:    2
        # n_celltype:   2

        conv_channels_list:     [256,256,256]
        conv_kernel_size_list:  [5,5,5]
        conv_padding_list:      [2,2,2]
        pool_kernel_size_list:  [2,2,2]
        pool_padding_list:      [0,0,0]
        conv_dropout_rate:      0.2

        num_trans_blocks:   5
        trans_d_embed:      256
        trans_n_heads:      8
        trans_d_mlp:        256
        trans_dropout_rate: 0.2

        linear_channels_list:   []
        linear_dropout_rate:    0.5
        sigmoid:                False

        augmentation:           False
        augmentation_region:    null

data_loader:
    type: DataLoader
    args:
        batch_size: *batch_size
        num_workers: 1
        pin_memory: True
        drop_last: False

optimizer:
    type: Adam
    args:
        lr: 3.0e-4
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20

loss_func:
    type: MultiTaskLoss
    args:
        loss_list: ['MSELoss', 'MSELoss']

metric_func_list:
    - type: Pearson
    - type: Spearman

early_stopper:
    type: EarlyStopping
    args:
        patience: 30
        delta: 0
        target: min
        verbose: True

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
