train: True #是否训练
seed: 0 #随机数种子
device: cuda:0 #模型使用单卡时的显卡名称
save_model: False #是否保存模型
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_valid_epochs: 1 #每多少个epoch运行valid
num_log_steps: 100 #每多少个step输出log, 0 means no output
scheduler_interval: step

DDP: True
load_saved_model: False
random_data_split: False
# train_valid_test_ratio: [0.8, 0.2, 0.0]

train_dataset_1:
    type: XpressoDataset
    args:
        bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/Xpresso/merged_bed_exp.csv'
        genome_path: '/home/hxcai/genome/hg38.fa'
        output_column: 'K562'
        filter_column: 'chr'
        filter_not_in_list: ['chr20', 'chr21', 'chr22', 'chrX', 'chrY', 'chrnan']
        select_seq_region: [9500, 10500]

valid_dataset_1:
    type: XpressoDataset
    args:
        bed_exp_path: '/home/hxcai/cell_type_specific_CRE/data/Xpresso/merged_bed_exp.csv'
        genome_path: '/home/hxcai/genome/hg38.fa'
        output_column: 'K562'
        filter_column: 'chr'
        filter_in_list: ['chr20', 'chr21', 'chr22']
        select_seq_region: [9500, 10500]

train_dataset_2:
    type: SeqLabelDataset
    args:
        seq_exp_path: '../data/GosaiMPRA/GosaiMPRA_len200_10000.csv'
        input_column: 'seq'
        output_column: 'K562'
        seq_pad_len: 1000
        filter_column: 'chr'
        filter_not_in_list: ['chr20', 'chr21', 'chr22', 'chrX', 'chrY', 'chrnan']

valid_dataset_2:
    type: SeqLabelDataset
    args:
        seq_exp_path: '../data/GosaiMPRA/GosaiMPRA_len200_10000.csv'
        input_column: 'seq'
        output_column: 'K562'
        seq_pad_len: 1000
        filter_column: 'chr'
        filter_in_list: ['chr20', 'chr21', 'chr22']


data_loader:
    type: DataLoader
    args:
        batch_size: 128
        num_workers: 1
        pin_memory: True

model:
    type: MultitaskBasset
    args:
        input_length: 1000
        output_dim: 2
        conv_channels_list: [100,100,100,100,100,100,100,100,100,100,100,100]
        conv_kernel_size_list: [3,3,3,3,3,3,3,3,3,3,3,3]
        pool_kernel_size_list: [1,1,1,4,1,1,1,4,1,1,1,4]
        linear_channels_list: [1000,100]
        conv_dropout_rate: 0.1
        linear_dropout_rate: 0.5
        gap_layer: True
        augmentation: False
        augmentation_region: [0, 0]

optimizer:
    type: Adam
    args:
        lr: 3.0e-4
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20

loss_func:
    type: MSELoss

metric_func_list:
    - type: Pearson
    - type: Spearman

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
